mdapi-package/Green Card/flows/Migrate.flow
<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Copyright (c) 2018, salesforce.com, inc.
 * All rights reserved.
 * SPDX-License-Identifier: BSD-3-Clause
 * For full license text, see the LICENSE file in the repo root or https://opensource.org/licenses/BSD-3-Clause
 -->
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>285</locationX>
        <locationY>1214</locationY>
        <actionName>User.CCP_to_PC_Migration_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vPartnerUserId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>AuthorisedUser</name>
        <label>AuthorisedUser?</label>
        <locationX>361</locationX>
        <locationY>570</locationY>
        <defaultConnector>
            <targetReference>NotAuthorised</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Authorised</defaultConnectorLabel>
        <rules>
            <name>Yes_Authorised</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vPermission</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Active_CCP_User</targetReference>
            </connector>
            <label>Yes Authorised</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Active_PC_User</name>
        <label>Check Active PC User</label>
        <locationX>1723</locationX>
        <locationY>812</locationY>
        <defaultConnector>
            <targetReference>Confirm_Inactive_CCP_USer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Active PC User Found</defaultConnectorLabel>
        <rules>
            <name>Active_PC_User_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vsoActivePartnerUser</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Already_Migrated</targetReference>
            </connector>
            <label>Active PC User Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Partner_Suffix</name>
        <label>Check Partner Suffix</label>
        <locationX>488</locationX>
        <locationY>346</locationY>
        <defaultConnector>
            <targetReference>Partner_Suffix</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Partner Suffix Not Found</defaultConnectorLabel>
        <rules>
            <name>Partner_Siffix_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vPartnerSuffix</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Source_Profile</targetReference>
            </connector>
            <label>Partner Suffix Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Send_eMail_Settings</name>
        <label>Check Send eMail Settings</label>
        <locationX>472</locationX>
        <locationY>1217</locationY>
        <defaultConnectorLabel>no:eMail</defaultConnectorLabel>
        <rules>
            <name>yes_eMail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vSendeMail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email</targetReference>
            </connector>
            <label>yes:eMail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Source_Profile</name>
        <label>Check Source Profile</label>
        <locationX>918</locationX>
        <locationY>346</locationY>
        <defaultConnector>
            <targetReference>Confirm_Target_Profile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Source Profile Found</defaultConnectorLabel>
        <rules>
            <name>Source_Profile_Not_Found</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>vCustomerProfileName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>vCustomerProfileName2Confirm</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCustomerProfileName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Source_Profile</targetReference>
            </connector>
            <label>Source Profile Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Target_Profile</name>
        <label>Check Target Profile</label>
        <locationX>1417</locationX>
        <locationY>357</locationY>
        <defaultConnector>
            <targetReference>AuthorisedUser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Target Profile Found</defaultConnectorLabel>
        <rules>
            <name>Target_Profile_Not_Found</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>vPartnerProfileName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>vPartnerProfileName2Confirm</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vPartnerProfileName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Target_Profile</targetReference>
            </connector>
            <label>Target Profile Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>ConfirmInactiveUser</name>
        <label>ConfirmInactiveUser</label>
        <locationX>1969</locationX>
        <locationY>1092</locationY>
        <defaultConnector>
            <targetReference>Inactive_User_Not_Confirmed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inactive User Not Confirmed</defaultConnectorLabel>
        <rules>
            <name>Inactive_User_Confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Confirm_Inactive_User</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAccount</targetReference>
            </connector>
            <label>Inactive User Confirmed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inactive_CCP_User_Found</name>
        <label>Inactive CCP User Found</label>
        <locationX>1410</locationX>
        <locationY>653</locationY>
        <defaultConnector>
            <targetReference>User_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inactive CCP User Not Found</defaultConnectorLabel>
        <rules>
            <name>Inactive_CCP_User_Found_Path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vsoCustomerCommunityUser</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Active_Partner_USer</targetReference>
            </connector>
            <label>Inactive CCP User Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check whether Customer Community User is disabled?</description>
        <name>IsCCPUserDisabled</name>
        <label>IsCCPUserDisabled</label>
        <locationX>1351</locationX>
        <locationY>1100</locationY>
        <defaultConnector>
            <targetReference>IsEnabledAsPartner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CCPUserDisabled</defaultConnectorLabel>
        <rules>
            <name>CCPUserNotDisabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vsoInactivatedUser.IsPortalEnabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Old_USer_Inactivated</targetReference>
            </connector>
            <label>CCPUserNotDisabled</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsEnabledAsPartner</name>
        <label>IsEnabledAsPartner</label>
        <locationX>952</locationX>
        <locationY>1215</locationY>
        <defaultConnector>
            <targetReference>Partner_Role_Selcted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>EnabledAsPartner</defaultConnectorLabel>
        <rules>
            <name>NotEnabledAsPartner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vsoAccount.IsPartner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EnableAsPartner</targetReference>
            </connector>
            <label>NotEnabledAsPartner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Partner_Role_Selcted</name>
        <label>Partner Role Selected?</label>
        <locationX>954</locationX>
        <locationY>1412</locationY>
        <defaultConnector>
            <targetReference>Create_Partner_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Partner Role Not Selected</defaultConnectorLabel>
        <rules>
            <name>Partner_Role_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vPartnerRoleId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Partner_User_Role</targetReference>
            </connector>
            <label>Partner Role Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Confirmed</name>
        <label>User Confirmed</label>
        <locationX>330</locationX>
        <locationY>856</locationY>
        <defaultConnector>
            <targetReference>User_not_Confirmed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User Not Confirmed</defaultConnectorLabel>
        <rules>
            <name>UserIsConfirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Confirm_User</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inactivate_Old_User</targetReference>
            </connector>
            <label>UserIsConfirmed</label>
        </rules>
    </decisions>
    <decisions>
        <name>UserFound</name>
        <label>UserFound?</label>
        <locationX>1014</locationX>
        <locationY>570</locationY>
        <defaultConnector>
            <targetReference>Get_Inactive_CCP_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Active CCP User Not Found</defaultConnectorLabel>
        <rules>
            <name>Active_User_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vsoCustomerCommunityUser</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vsoCustomerCommunityUser.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_the_User_to_be_Migrated</targetReference>
            </connector>
            <label>Active CCP User Found</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>chPartnerRoles</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>vsoAccount.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>PortalType</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Partner</stringValue>
            </value>
        </filters>
        <object>UserRole</object>
        <outputAssignments>
            <assignToReference>vPartnerRoleId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>vPartnerCommunityNickname</name>
        <dataType>String</dataType>
        <expression>{!vsoCustomerCommunityUser.CommunityNickname}&amp;{!vPartnerSuffix}</expression>
    </formulas>
    <formulas>
        <name>vPermission</name>
        <dataType>Boolean</dataType>
        <expression>{!$Permission.Migrate_CCP_to_PC}</expression>
    </formulas>
    <formulas>
        <name>vUsername</name>
        <dataType>String</dataType>
        <expression>IF(BEGINS({!vsoCustomerCommunityUser.Username}, &apos;_&apos;),  RIGHT({!vsoCustomerCommunityUser.Username}, ( LEN({!vsoCustomerCommunityUser.Username})-1) ), {!vsoCustomerCommunityUser.Username})</expression>
    </formulas>
    <interviewLabel>Migrate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Migrate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Partner_User</name>
        <label>Create Partner User (No Role)</label>
        <locationX>712</locationX>
        <locationY>1214</locationY>
        <assignRecordIdToReference>vPartnerUserId</assignRecordIdToReference>
        <connector>
            <targetReference>Check_Send_eMail_Settings</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_1</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Alias</field>
            <value>
                <elementReference>vsoCustomerCommunityUser.Alias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CommunityNickname</field>
            <value>
                <elementReference>vPartnerCommunityNickname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>vInputContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>vsoCustomerCommunityUser.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailEncodingKey</field>
            <value>
                <elementReference>vsoCustomerCommunityUser.EmailEncodingKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>vsoCustomerCommunityUser.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LanguageLocaleKey</field>
            <value>
                <elementReference>vsoCustomerCommunityUser.LanguageLocaleKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>vsoCustomerCommunityUser.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <elementReference>vsoCustomerCommunityUser.LocaleSidKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProfileId</field>
            <value>
                <elementReference>vPartnerProfileId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeZoneSidKey</field>
            <value>
                <elementReference>vsoCustomerCommunityUser.TimeZoneSidKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username</field>
            <value>
                <elementReference>vUsername</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Partner_User_Role</name>
        <label>Create Partner User (Role)</label>
        <locationX>589</locationX>
        <locationY>1412</locationY>
        <assignRecordIdToReference>vPartnerUserId</assignRecordIdToReference>
        <connector>
            <targetReference>Check_Send_eMail_Settings</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_1</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Alias</field>
            <value>
                <elementReference>vsoCustomerCommunityUser.Alias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CommunityNickname</field>
            <value>
                <elementReference>vPartnerCommunityNickname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>vInputContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>vsoCustomerCommunityUser.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailEncodingKey</field>
            <value>
                <elementReference>vsoCustomerCommunityUser.EmailEncodingKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>vsoCustomerCommunityUser.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LanguageLocaleKey</field>
            <value>
                <elementReference>vsoCustomerCommunityUser.LanguageLocaleKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>vsoCustomerCommunityUser.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <elementReference>vsoCustomerCommunityUser.LocaleSidKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProfileId</field>
            <value>
                <elementReference>vPartnerProfileId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeZoneSidKey</field>
            <value>
                <elementReference>vsoCustomerCommunityUser.TimeZoneSidKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserRoleId</field>
            <value>
                <elementReference>vPartnerRoleId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username</field>
            <value>
                <elementReference>vUsername</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordCreates>
    <recordLookups>
        <name>Confirm_Source_Profile</name>
        <label>Confirm Source Profile</label>
        <locationX>760</locationX>
        <locationY>240</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Source_Profile</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_1</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCustomerProfileId</elementReference>
            </value>
        </filters>
        <object>Profile</object>
        <outputAssignments>
            <assignToReference>vCustomerProfileName2Confirm</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Confirm_Target_Profile</name>
        <label>Confirm Target Profile</label>
        <locationX>1197</locationX>
        <locationY>268</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Target_Profile</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_1</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vPartnerProfileId</elementReference>
            </value>
        </filters>
        <object>Profile</object>
        <outputAssignments>
            <assignToReference>vPartnerProfileName2Confirm</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Active_CCP_User</name>
        <label>Get Active CCP User</label>
        <locationX>723</locationX>
        <locationY>646</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UserFound</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_1</targetReference>
        </faultConnector>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vInputContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPortalEnabled</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCustomerProfileId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>vsoCustomerCommunityUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Alias</queriedFields>
        <queriedFields>CommunityNickname</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>EmailEncodingKey</queriedFields>
        <queriedFields>LanguageLocaleKey</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>LocaleSidKey</queriedFields>
        <queriedFields>ProfileId</queriedFields>
        <queriedFields>TimeZoneSidKey</queriedFields>
        <queriedFields>Username</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>IsActive</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Active_Partner_USer</name>
        <label>Get Active Partner USer</label>
        <locationX>1571</locationX>
        <locationY>810</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Active_PC_User</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_1</targetReference>
        </faultConnector>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vInputContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsPortalEnabled</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vPartnerProfileId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>vsoActivePartnerUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Username</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Inactivated_User</name>
        <label>Get Inactivated User</label>
        <locationX>1451</locationX>
        <locationY>889</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsCCPUserDisabled</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_1</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vsoCustomerCommunityUser.Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>vsoInactivatedUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <queriedFields>IsPortalEnabled</queriedFields>
        <queriedFields>UserRoleId</queriedFields>
        <queriedFields>Username</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Inactive_CCP_User</name>
        <label>Get Inactive CCP User</label>
        <locationX>1260</locationX>
        <locationY>652</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inactive_CCP_User_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_1</targetReference>
        </faultConnector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vInputContactEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsPortalEnabled</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCustomerProfileId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>vsoCustomerCommunityUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Alias</queriedFields>
        <queriedFields>CommunityNickname</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>EmailEncodingKey</queriedFields>
        <queriedFields>LanguageLocaleKey</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>LocaleSidKey</queriedFields>
        <queriedFields>ProfileId</queriedFields>
        <queriedFields>TimeZoneSidKey</queriedFields>
        <queriedFields>Username</queriedFields>
        <queriedFields>FirstName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Migration_Settings</name>
        <label>Get Migration Settings</label>
        <locationX>51</locationX>
        <locationY>368</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Source_Profile</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_1</targetReference>
        </faultConnector>
        <object>Migration_Details__c</object>
        <outputAssignments>
            <assignToReference>vSendeMail</assignToReference>
            <field>Allow_Solution_to_Send_eMail__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vPartnerSuffix</assignToReference>
            <field>PartnerSuffix__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vCustomerProfileName</assignToReference>
            <field>Source_Profile__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vPartnerProfileName</assignToReference>
            <field>Target_Profile__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Source_Profile</name>
        <label>Get Source Profile</label>
        <locationX>214</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Target_Profile</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_1</targetReference>
        </faultConnector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCustomerProfileName</elementReference>
            </value>
        </filters>
        <object>Profile</object>
        <outputAssignments>
            <assignToReference>vCustomerProfileId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Target_Profile</name>
        <label>Get Target Profile</label>
        <locationX>349</locationX>
        <locationY>352</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Partner_Suffix</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_1</targetReference>
        </faultConnector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vPartnerProfileName</elementReference>
            </value>
        </filters>
        <object>Profile</object>
        <outputAssignments>
            <assignToReference>vPartnerProfileId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetAccount</name>
        <label>GetAccount</label>
        <locationX>907</locationX>
        <locationY>870</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Old_USer_Inactivated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_1</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vInputAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>vsoAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsPartner</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetAccountAgain</name>
        <label>GetAccountAgain</label>
        <locationX>1048</locationX>
        <locationY>1123</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsEnabledAsPartner</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_1</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vInputAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>vsoAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsPartner</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>EnableAsPartner</name>
        <label>EnableAsPartner</label>
        <locationX>958</locationX>
        <locationY>1043</locationY>
        <connector>
            <targetReference>GetAccountAgain</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_1</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vsoAccount.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsPartner</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Inactivate_Old_User</name>
        <label>Inactivate Old User</label>
        <locationX>663</locationX>
        <locationY>862</locationY>
        <connector>
            <targetReference>GetAccount</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_1</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vsoCustomerCommunityUser.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPortalEnabled</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <screens>
        <name>Confirm_Inactive_CCP_USer</name>
        <label>Confirm Inactive CCP USer</label>
        <locationX>1977</locationX>
        <locationY>809</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ConfirmInactiveUser</targetReference>
        </connector>
        <fields>
            <name>Confirm_Inactive_Text</name>
            <fieldText>We found an Inactive User already associated with the Contact  with below Username!

{!vsoCustomerCommunityUser.Username}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirm_Inactive_User</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Confirm Inactive User</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_the_User_to_be_Migrated</name>
        <label>Confirm the User to be Migrated</label>
        <locationX>767</locationX>
        <locationY>755</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>User_Confirmed</targetReference>
        </connector>
        <fields>
            <name>Selected_User</name>
            <fieldText>Please confirm that you want to migrate CCP to PC for following username: {!vsoCustomerCommunityUser.Username}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirm_User</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Confirm User</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_1</name>
        <label>Error Screen:1</label>
        <locationX>990</locationX>
        <locationY>798</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Display</name>
            <fieldText>Sorry, the flow encountered issues!

{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Inactive_User_Not_Confirmed</name>
        <label>Inactive User Not Confirmed</label>
        <locationX>1522</locationX>
        <locationY>1113</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Inactive_User_NC_Text</name>
            <fieldText>Inactive User Not Confirmed : {!vsoCustomerCommunityUser.Username}

Please perform migration manually.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NotAuthorised</name>
        <label>NotAuthorised</label>
        <locationX>369</locationX>
        <locationY>736</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Not_Authorised</name>
            <fieldText>Sorry! You do not have the permission to run the Community User License Migration Process.
 
Please contact System Admin to get it!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Old_USer_Inactivated</name>
        <label>Old USer Inactivated</label>
        <locationX>1157</locationX>
        <locationY>897</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Inactivated_User</targetReference>
        </connector>
        <fields>
            <name>Display_Inactivate_User_Details</name>
            <fieldText>Customer Community Plus User Deactivated!

Please proceed to create a Partner Community User.

Select Partner Role if Displayed.  For the first user enabled on a partner account there will be no option to select a role.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectPartnerRole</name>
            <choiceReferences>chPartnerRoles</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Available Partner Roles</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Partner_Suffix</name>
        <label>Partner Suffix Not Found</label>
        <locationX>496</locationX>
        <locationY>176</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Partner_Suffix_Text</name>
            <fieldText>Please Enter a Suffix to be added to new Partner User Nickname. 

Please go to 
Setup &gt;Custom Settings &gt; Migration Details
Enter Suffix value in Field &gt; PartnerSuffix</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Source_Profile</name>
        <label>Source Profile</label>
        <locationX>925</locationX>
        <locationY>173</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Source_Profile_text</name>
            <fieldText>Source Profile Not Found.

Please go to 
Setup &gt;Custom Settings &gt; Migration Details
Enter Valid Source Profile Name(Profile.Name) in Field &gt; 	Source Profile
(This is the Profile of the Customer Community Plus User)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Target_Profile</name>
        <label>Target Profile</label>
        <locationX>1432</locationX>
        <locationY>187</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Target_Profile_Text</name>
            <fieldText>Target Profile Not Found.

Please go to 
Setup &gt;Custom Settings &gt; Migration Details
Enter Valid Target Profile Name(Profile.Name) in Field &gt; 	Target Profile
(This is the Profile of the Partner Community User)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Already_Migrated</name>
        <label>User Already Migrated</label>
        <locationX>1732</locationX>
        <locationY>589</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>User_Already_Migrated_Text</name>
            <fieldText>User Already Migrated:

1) Inactive Customer Community Plus User : {!vsoCustomerCommunityUser.Username}

2) Active Partner Community User : {!vsoActivePartnerUser.Username}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_not_Confirmed</name>
        <label>User not Confirmed</label>
        <locationX>72</locationX>
        <locationY>855</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>UnF_Display</name>
            <fieldText>User Not Confirmed : {!vsoCustomerCommunityUser.Username}

Please confirm correct user.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Not_Found</name>
        <label>User Not Found</label>
        <locationX>1420</locationX>
        <locationY>483</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>UsF_Display_Text</name>
            <fieldText>No Active Customer Community Plus User found having Profile &quot;{!vCustomerProfileName}&quot;.

Also, no Inactive Customer Community Plus User found having the email of contact i.e. {!vInputContactEmail}.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Migration_Settings</startElementReference>
    <status>Active</status>
    <variables>
        <name>vCustomerProfileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00e0I000001SyZAQA0</stringValue>
        </value>
    </variables>
    <variables>
        <name>vCustomerProfileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCustomerProfileName2Confirm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vInputAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vInputContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vInputContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vPartnerProfileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00e0I000001yrIbQAI</stringValue>
        </value>
    </variables>
    <variables>
        <name>vPartnerProfileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vPartnerProfileName2Confirm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vPartnerRoleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vPartnerSuffix</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vPartnerUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSendeMail</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vsoAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>vsoActivePartnerUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>vsoCustomerCommunityUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>vsoInactivatedUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
